<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - ViaTech</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/scripts.js"></script>
</head>
    <body>
        <div id="main">
            <h1> Welcome to ViaTech! </h1>
            <h2> Who are we? </h2>
        </div>
        <div id="who">
            <p> 
                We are a team of developers with a dream that we are unsure of. But a dream nonetheless
            </p>
            <p> Our team consists of: </p>
            <ul>
                <li> / Via \ </li>
                <li> / Coaster \ </li>
                <li> / Icy \ </li>
            </ul>
        </div>
        <div id="why">
            <h3> You may ask yourself <em>why?</em></h3>
            <em> Well... </em>
            <h4> I, Via, have the goal of being a full-stack developer one day, <br>and  I think that having more people on a little team helps me <em>immensely</em> </h4>
        </div>
    </body>
</html>